<?xml version="1.0"?>
<!DOCTYPE web-app PUBLIC 
    "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
  <display-name>SpringFirebrandCassandra</display-name>

  <!-- ********************************************************** -->
  <!-- ****** CONTEXT PARAMS ************************************ -->
  <!--context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>
        classpath:applicationContext.xml
    </param-value>
  </context-param-->

  <!-- ********************************************************** -->
  <!-- ****** LISTENERS ***************************************** -->
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>

  <!-- ********************************************************** -->
  <!-- ****** SERVLETS ****************************************** -->
  <servlet>
    <servlet-name>QuidQuid-api-v1</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet>
    <servlet-name>StartupServlet</servlet-name>
    <display-name>StartupServlet</display-name>
    <servlet-class>fr.quidquid.api.StartupServlet</servlet-class>
    <load-on-startup>5</load-on-startup>
  </servlet>

  <!-- ********************************************************** -->
  <!-- ****** SERVLET MAPPINGS ********************************** -->
  <!-- SERVICES shortcut mapping -->
  <servlet-mapping>
    <servlet-name>QuidQuid-api-v1</servlet-name>
    <url-pattern>/v1/*</url-pattern>
  </servlet-mapping>

  <session-config>
    <session-timeout>-1</session-timeout>
  </session-config>

  <!-- ********************************************************** -->
  <!-- ****** FILTERS : UTF-8 in front to back ****************** -->
  <filter>
    <filter-name>Spring character encoding filter</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>forceEncoding</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>

  <filter-mapping>
    <filter-name>Spring character encoding filter</filter-name>
    <url-pattern>/v1/*</url-pattern>
  </filter-mapping>
</web-app>
